.cart-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.877);
  color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  z-index: 999999;

  &__cart-items {
    height: auto;
    font-size: 18px;
    margin: 0;
    padding: 15px;
  }
  &__headline {
    margin: 0;
  }
  &__checkout {
    display: inline-block;
    color: white;
    background: red;
    padding: 10px 25px;
    border-radius: 100px;
    margin-top: 20px;
  }

  &__clear {
    border: none;
    @extend .cart-fixed__checkout;
  }
  &__total {
    font-weight: 700;
  }
  &__item {
    display: flex;
    justify-content: space-around;
  }
}
