.cart-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 80px);
  height: auto;
  max-width: 300px;
  background: rgb(17, 17, 17);
  color: white;
  padding: 20px;
  z-index: 999999;
  transition-duration: 200ms;
  transition-timing-function: ease;

  &__cart-items {
    font-size: 15px;
    margin: 0;
    margin-bottom: 12px;
    padding: 15px;
    overflow-y: scroll;
    max-height: 50vh;
  }
  &__headline {
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__checkout {
    display: inline-block;
    color: white;
    background: red;
    padding: 10px 25px;
    border-radius: 100px;
    margin-top: 20px;
  }

  &__clear {
    border: none;
    @extend .cart-fixed__checkout;
  }
  &__total {
    font-weight: 700;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: start;
    align-items: center;
    padding: 17px;
    margin-bottom: 5px;
    border-right: 1px solid rgb(255, 0, 0);
    background: rgba(255, 255, 255, 0.212);
    & > * {
      margin: 8px 0;
    }
  }
  &__name {
    justify-self: start;
    font-weight: bold;
    font-size: 1.1em;
  }
  &__qty {
    text-align: right;
    border: none;
    width: 40px;
    padding: 5px;
  }
  &__total-qty {
    font-size: 1.25rem;
    padding: 3px 11px;
  }
  &__remove-btn {
    cursor: pointer;
    &:hover {
      color: rgb(255, 121, 121);
    }
  }
  &__name-total-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid red;
    margin-bottom: 13px;
  }
}
