.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  margin: 9px;
  margin-top: 20px;
  padding: 1.5em;
  position: sticky;
  top: 20px;

  @media screen and (max-width: 687px) {
    position: relative;
    max-width: 100%;
    width: 100%;
    z-index: 4;
    background-color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    align-items: center;
  }

  &__headline {
    margin: 0 0 10px 0;
  }
}

.filter-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  font-size: 16px;
}

.filter-radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.filter-container:hover .filter-radio-btn ~ .checkmark {
  background-color: #ccc;
  transition: 200ms;
}

.filter-container .filter-radio-btn:checked ~ .checkmark {
  background-color: #63f1f1;
  transition: 200ms;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-container .filter-radio-btn:checked ~ .checkmark:after {
  display: block;
}

.filter-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.filter-reset {
  border: none;
  @extend .cart-fixed__checkout;
  background: $color--accent;
  padding: 0;
  font-size: 16px;
  height: 40px;
  width: 80%;
  align-self: center;
  &:hover {
    background: rgb(235, 68, 68);
  }
}

.hidden {
  display: none;
}
