.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  position: sticky;
  top: $nav-height + 2px;
  z-index: 100;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  @media screen and (max-width: 508px) {
    background-color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 1em;
    flex-direction: column;
  }

  &__headline {
    padding: 0 1rem;
    @media screen and (max-width: 508px) {
      display: none;
    }
  }
}

.filter-container-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  width: 100%;
  @media screen and (max-width: 508px) {
    padding-top: 10px;
  }
}
.filter-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  font-size: 16px;
}

.filter-radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.filter-container:hover .filter-radio-btn ~ .checkmark {
  background-color: #ccc;
  transition: 200ms;
}

.filter-container .filter-radio-btn:checked ~ .checkmark {
  background-color: #63f1f1;
  transition: 200ms;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-container .filter-radio-btn:checked ~ .checkmark:after {
  display: block;
}

.filter-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.filter-reset {
  border: none;
  @extend .cart-fixed__checkout;
  background: $color--accent;
  padding: 5px 15px;
  border-radius: 100px;
  border-top-right-radius: 0;
  font-size: 16px;
  align-self: center;
  margin-top: 0;
  margin-right: 2%;
  &:hover {
    background: rgb(235, 68, 68);
  }
  @media screen and (max-width: 508px) {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    height: auto;
    align-self: flex-end;
  }
}

.hidden {
  display: none;
}
