.hero {
  height: 100vh;
  width: 100%;
  background: mediumslateblue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-flow: column wrap;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 3em;
  }
}
