.products {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 3em;
  position: relative;
  flex-direction: column;

  @media screen and (max-width: 938px) {
    margin: 0;
  }

  &__headline {
    text-align: center;
    font-size: 2rem;

    &--first {
      margin-top: 2em;
    }
  }

  &__container {
    max-width: 1400px;
    justify-self: center;
    width: 100%;

    @media (min-width: 938px) {
      width: 75%;
    }

    &--item {
      position: relative;
      padding-bottom: 3em;
    }
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    // display: flex;
    // flex-flow: row wrap;
    position: relative;
  }
  &__product-card {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 20px;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 3;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.171),
        0 10px 10px rgba(0, 0, 0, 0.151);
    }
  }
}
.product-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__image {
    width: 100%;
    height: 100%;
    flex-basis: 220px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin: 10px 0;
  }

  &__price {
    margin: 5px 0;
  }

  &__stock {
    font-size: 12px;
  }

  &__currency {
    font-size: 12px;
  }

  &__buy-btn {
    padding: 10px 17px;
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    word-wrap: unset;

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }

  &__qty-container {
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    justify-content: space-between;
  }

  &__qty {
    text-align: center;
    border: 0;
    max-width: 50px;
    background: transparent;
  }
  &__qty-btn {
    color: gray;
    background-color: transparent;
    border: 0;

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }

  &__neg-qty {
    border-radius: 15px 0 0 15px;
  }

  &__up-qty {
    border-radius: 0 15px 15px 0;
  }

  &__btn-qty-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
  }
}
