@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import './header';
@import './hero';
@import './products';
@import './cart';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
